In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### 데이터 불러오기  
* genre_gn_all(장르 코드, 이름 매치 정보)  
gnr_code(장르 코드), gnr_name(장르 이름)
  
* song_meta(노래 정보)  
song_gn_dtl_gnr_basket(소장르 코드: list), issue_date(앨범 발매일: int), album_name(앨범명), album_id(앨범 id), artist_id_basket(가수 id: list), song_name(노래 제목), song_gn_gnr_basket(대장르 코드: list), artist_name_basket(가수 이름: list), id(곡 id)
  
* train(플레이리스트 정보)  
tags(플레이리스트에 달린 태그: list), id(플레이리스트 id), plylst_title(플레이리스트 제목), songs(플레이리스트 수곡곡: list), like_cnt(좋아요 수), updt_date(마지막 업데이트 날짜)

In [ ]:
genre_gn_all = pd.read_json('/content/drive/MyDrive/data/카카오아레나_멜론/genre_gn_all.json', typ = 'series')
song_meta = pd.read_json('/content/drive/MyDrive/data/song_meta1.json',typ = 'frame')
train = pd.read_json('/content/drive/MyDrive/data/카카오아레나_멜론/train.json', typ = 'frame')
genre_gn_all = pd.DataFrame(genre_gn_all, columns = ['gnr_name']).reset_index().rename(columns = {'index' : 'gnr_code'})
genre_gn_all

    gnr_code gnr_name
0     GN0100      발라드
1     GN0101   세부장르전체
2     GN0102      '80
3     GN0103      '90
4     GN0104      '00
..       ...      ...
249   GN2900      뮤지컬
250   GN2901   세부장르전체
251   GN2902    국내뮤지컬
252   GN2903    국외뮤지컬
253   GN3000    크리스마스

[254 rows x 2 columns]

In [ ]:
train

,tags,id,plylst_title,songs,like_cnt,updt_date
0,[락],61281,여행같은 음악,"[525514, 129701, 383374, 562083, 297861, 13954...",71,2013-12-19 18:36:19.000
1,"[추억, 회상]",10532,요즘 너 말야,"[432406, 675945, 497066, 120377, 389529, 24427...",1,2014-12-02 16:19:42.000
2,"[까페, 잔잔한]",76951,"편하게, 잔잔하게 들을 수 있는 곡.-","[83116, 276692, 166267, 186301, 354465, 256598...",17,2017-08-28 07:09:34.000
3,"[연말, 눈오는날, 캐럴, 분위기, 따듯한, 크리스마스캐럴, 겨울노래, 크리스마스,...",147456,크리스마스 분위기에 흠뻑 취하고 싶을때,"[394031, 195524, 540149, 287984, 440773, 10033...",33,2019-12-05 15:15:18.000
4,[댄스],27616,추억의 노래 ㅋ,"[159327, 553610, 5130, 645103, 294435, 100657,...",9,2011-10-25 13:54:56.000
...,...,...,...,...,...,...
115066,"[록메탈, 밴드사운드, 록, 락메탈, 메탈, 락, extreme]",120325,METAL E'SM #2,"[429629, 441511, 612106, 516359, 691768, 38714...",3,2020-04-17 04:31:11.000
115067,[일렉],106976,빠른 리스너를 위한 따끈따끈한 최신 인기 EDM 모음!,"[321330, 216057, 534472, 240306, 331098, 23288...",13,2015-12-24 17:23:19.000
115068,"[담시, 가족, 눈물, 그리움, 주인공, 나의_이야기, 사랑, 친구]",11343,#1. 눈물이 앞을 가리는 나의_이야기,"[50512, 249024, 250608, 371171, 229942, 694943...",4,2019-08-16 20:59:22.000
115069,"[잔잔한, 버스, 퇴근버스, Pop, 풍경, 퇴근길]",131982,퇴근 버스에서 편히 들으면서 하루를 마무리하기에 좋은 POP,"[533534, 608114, 343608, 417140, 609009, 30217...",4,2019-10-25 23:40:42.000
115070,"[노래추천, 팝송추천, 팝송, 팝송모음]",100389,FAVORITE POPSONG!!!,"[26008, 456354, 324105, 89871, 135272, 143548,...",17,2020-04-18 20:35:06.000

### 각 dataframe 정보 확인  
null 값, 이상치 등 확인 후 수정

In [ ]:
genre_gn_all.info()
genre_gn_all

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 254 entries, 0 to 253
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   gnr_code  254 non-null    object
 1   gnr_name  254 non-null    object
dtypes: object(2)
memory usage: 4.1+ KB

    gnr_code gnr_name
0     GN0100      발라드
1     GN0101   세부장르전체
2     GN0102      '80
3     GN0103      '90
4     GN0104      '00
..       ...      ...
249   GN2900      뮤지컬
250   GN2901   세부장르전체
251   GN2902    국내뮤지컬
252   GN2903    국외뮤지컬
253   GN3000    크리스마스

[254 rows x 2 columns]

In [ ]:
song_meta.info() # album_name null 4개, issue_date -> int
song_meta

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 707989 entries, 0 to 707988
Data columns (total 9 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   song_gn_dtl_gnr_basket  707989 non-null  object
 1   issue_date              707989 non-null  int64
 2   album_name              707985 non-null  object
 3   album_id                707989 non-null  int64
 4   artist_id_basket        707989 non-null  object
 5   song_name               707989 non-null  object
 6   song_gn_gnr_basket      707989 non-null  object
 7   artist_name_basket      707989 non-null  object
 8   id                      707989 non-null  int64
dtypes: int64(3), object(6)
memory usage: 48.6+ MB

,song_gn_dtl_gnr_basket,issue_date,album_name,album_id,artist_id_basket,song_name,song_gn_gnr_basket,artist_name_basket,id
0,[GN0901],20140512,불후의 명곡 - 7080 추억의 얄개시대 팝송베스트,2255639,[2727],Feelings,[GN0900],[Various Artists],0
1,"[GN1601, GN1606]",20080421,"Bach : Partitas Nos. 2, 3 & 4",376431,[29966],"Bach : Partita No. 4 In D Major, BWV 828 - II....",[GN1600],[Murray Perahia],1
2,[GN0901],20180518,Hit,4698747,[3361],Solsbury Hill (Remastered 2002),[GN0900],[Peter Gabriel],2
3,"[GN1102, GN1101]",20151016,Feeling Right (Everything Is Nice) (Feat. Popc...,2644882,[838543],Feeling Right (Everything Is Nice) (Feat. Popc...,[GN1100],[Matoma],3
4,"[GN1802, GN1801]",20110824,그남자 그여자,2008470,[560160],그남자 그여자,[GN1800],[Jude Law],4
...,...,...,...,...,...,...,...,...,...
707984,[GN2001],19991219,The Best Best Of The Black President,65254,[166499],Coffin For Head Of State,[GN2000],[Fela Kuti],707984
707985,[GN0901],19860000,True Colors,44141,[11837],Change Of Heart,[GN0900],[Cyndi Lauper],707985
707986,"[GN0105, GN0101]",20160120,행보 2015 윤종신 / 작사가 윤종신 Live Part.1,2662866,[437],스치듯 안녕,[GN0100],[윤종신],707986
707987,"[GN1807, GN1801]",20131217,명상의 시간을 위한 뉴에이지 음악,2221722,[729868],숲의 빛,[GN1800],[Nature Piano],707987
707988,"[GN0601, GN0604]",19980000,김경호 Live,34663,[895],Queen 명곡 멜로디,[GN0600],[김경호],707988

In [ ]:
train.info()
train

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115071 entries, 0 to 115070
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   tags          115071 non-null  object
 1   id            115071 non-null  int64
 2   plylst_title  115071 non-null  object
 3   songs         115071 non-null  object
 4   like_cnt      115071 non-null  int64
 5   updt_date     115071 non-null  object
dtypes: int64(2), object(4)
memory usage: 5.3+ MB

,tags,id,plylst_title,songs,like_cnt,updt_date
0,[락],61281,여행같은 음악,"[525514, 129701, 383374, 562083, 297861, 13954...",71,2013-12-19 18:36:19.000
1,"[추억, 회상]",10532,요즘 너 말야,"[432406, 675945, 497066, 120377, 389529, 24427...",1,2014-12-02 16:19:42.000
2,"[까페, 잔잔한]",76951,"편하게, 잔잔하게 들을 수 있는 곡.-","[83116, 276692, 166267, 186301, 354465, 256598...",17,2017-08-28 07:09:34.000
3,"[연말, 눈오는날, 캐럴, 분위기, 따듯한, 크리스마스캐럴, 겨울노래, 크리스마스,...",147456,크리스마스 분위기에 흠뻑 취하고 싶을때,"[394031, 195524, 540149, 287984, 440773, 10033...",33,2019-12-05 15:15:18.000
4,[댄스],27616,추억의 노래 ㅋ,"[159327, 553610, 5130, 645103, 294435, 100657,...",9,2011-10-25 13:54:56.000
...,...,...,...,...,...,...
115066,"[록메탈, 밴드사운드, 록, 락메탈, 메탈, 락, extreme]",120325,METAL E'SM #2,"[429629, 441511, 612106, 516359, 691768, 38714...",3,2020-04-17 04:31:11.000
115067,[일렉],106976,빠른 리스너를 위한 따끈따끈한 최신 인기 EDM 모음!,"[321330, 216057, 534472, 240306, 331098, 23288...",13,2015-12-24 17:23:19.000
115068,"[담시, 가족, 눈물, 그리움, 주인공, 나의_이야기, 사랑, 친구]",11343,#1. 눈물이 앞을 가리는 나의_이야기,"[50512, 249024, 250608, 371171, 229942, 694943...",4,2019-08-16 20:59:22.000
115069,"[잔잔한, 버스, 퇴근버스, Pop, 풍경, 퇴근길]",131982,퇴근 버스에서 편히 들으면서 하루를 마무리하기에 좋은 POP,"[533534, 608114, 343608, 417140, 609009, 30217...",4,2019-10-25 23:40:42.000
115070,"[노래추천, 팝송추천, 팝송, 팝송모음]",100389,FAVORITE POPSONG!!!,"[26008, 456354, 324105, 89871, 135272, 143548,...",17,2020-04-18 20:35:06.000

#### 소장르, 대장르 코드 -> 이름으로 채우기

In [ ]:
# train['song_gn_gnr_basket'] = train.songs.apply(lambda x : list(set(sum(song_meta.iloc[x,:].song_gn_gnr_basket,[]))))
# train

In [ ]:
# train['song_gn_dtl_gnr_basket'] = train.songs.apply(lambda x : list(set(sum(song_meta.iloc[x,:].song_gn_dtl_gnr_basket,[]))))
# train

In [ ]:
# 노래 제목은 겹치는게 있으므로 일단 채워넣지 말 것
# train.loc[:,'songs'] = train.songs.apply(lambda x : list(song_meta.iloc[x,:].song_name))
# train

### 전처리

In [ ]:
# song_meta의 song_gn_gnr_basket column에는 0개부터 6개까지의 장르가 들어있음
song_meta.song_gn_gnr_basket.apply(len).unique()

array([1, 2, 0, 3, 4, 5, 6])

In [ ]:
# 2020년도 데이터까지만 있어야하는데 2022년 데이터가 들어있음
# 확인 결과 둘 다 20220113이 아니라 20200113임 수정해주기
song_meta[song_meta['issue_date'] > 20200423]

Empty DataFrame
Columns: [song_gn_dtl_gnr_basket, issue_date, album_name, album_id, artist_id_basket, song_name, song_gn_gnr_basket, artist_name_basket, id]
Index: []

In [ ]:
song_meta.loc[:,'issue_date'][song_meta['issue_date'] > 20200423] = 20200113

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
# 값을 바꿔줘서 2020년 이후 데이터 없음
song_meta[song_meta['issue_date'] > 20200423]

Empty DataFrame
Columns: [song_gn_dtl_gnr_basket, issue_date, album_name, album_id, artist_id_basket, song_name, song_gn_gnr_basket, artist_name_basket, id]
Index: []

In [ ]:
# 앨범 이름이 비어있는 곡 4곡 존재
song_meta[song_meta['album_name'].isnull()]
# 사랑바보
# 슈퍼스타K2 Up To 11
# null
# 슈퍼스타K2 Up To 11

Empty DataFrame
Columns: [song_gn_dtl_gnr_basket, issue_date, album_name, album_id, artist_id_basket, song_name, song_gn_gnr_basket, artist_name_basket, id]
Index: []

In [ ]:
song_meta.loc[:,'album_name'][song_meta.id == 143209] = '사랑바보'
song_meta.loc[:,'album_name'][(song_meta.id == 291631) | (song_meta.id == 552088)] = '슈퍼스타K2 Up To 11'
song_meta.loc[:,'album_name'][song_meta.id == 431110] = 'null'

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
# 수정한 앨범 이름 확인
song_meta[(song_meta.id == 291631) | (song_meta.id == 552088) | (song_meta.id == 143209) | (song_meta.id == 431110)]

,song_gn_dtl_gnr_basket,issue_date,album_name,album_id,artist_id_basket,song_name,song_gn_gnr_basket,artist_name_basket,id
143209,"[GN0501, GN0601, GN0503, GN0606, GN0509]",20150522,사랑바보,2318271,[726168],사랑바보,"[GN0500, GN0600]",[민은서밴드],143209
291631,"[GN0105, GN0101]",20101108,슈퍼스타K2 Up To 11,1065178,[28772],빗속에서,[GN0100],[존박],291631
431110,"[GN0509, GN0601, GN0503, GN0606, GN0501]",20200208,null,10385717,[2203064],화면,"[GN0500, GN0600]",[Oowl Hannal (우울 한날)],431110
552088,"[GN0105, GN0601]",20101108,슈퍼스타K2 Up To 11,1065178,[28263],본능적으로 (Feat. Swings),"[GN0600, GN0100]",[강승윤],552088

In [ ]:
song_meta[song_meta['album_name'].isnull()]

Empty DataFrame
Columns: [song_gn_dtl_gnr_basket, issue_date, album_name, album_id, artist_id_basket, song_name, song_gn_gnr_basket, artist_name_basket, id]
Index: []

In [ ]:
# 플레이리스트 제목 중복 merge
# train # 115071
train['plylst_title'].duplicated().sum()

4540

In [ ]:
# train[train['plylst_title'].duplicated()]
train[train['plylst_title'] == '미리 메리 크리스마스']

,tags,id,plylst_title,songs,like_cnt,updt_date,genre
241,[겨울],43159,미리 메리 크리스마스,"[326204, 174967, 117169, 703323, 638488, 59252...",17,2015-11-22 01:28:30.000,"[GN0300, GN0400, GN0200, GN2500]"
1408,"[겨울, 크리스마스, 캐럴]",66941,미리 메리 크리스마스,"[291933, 162896, 61771, 62574, 279545, 667770,...",1,2020-02-20 11:03:33.000,"[GN0800, GN0400, GN1500, GN0500, GN0200, GN250..."
60917,[겨울],134554,미리 메리 크리스마스,"[326204, 105433, 388560, 469093, 186507, 26230...",11,2015-09-15 20:21:02.000,"[GN1500, GN2500, GN0600, GN0100, GN0700]"
82932,"[겨울_공통, 연말, 따듯한, 로멘틱, 크리스마스]",35336,미리 메리 크리스마스,"[290987, 257231, 243721, 326204, 166884, 13796...",4,2020-04-20 03:00:40.000,"[GN1100, GN0400, GN0500, GN1900, GN2500, GN030..."
90545,"[클래식, 캐롤]",15960,미리 메리 크리스마스,"[656246, 101804, 413694, 684941, 385279, 43796...",104,2016-12-06 17:17:18.000,"[GN0800, GN0400, GN1500, GN0500, GN2500, GN060..."
100082,[팝],17688,미리 메리 크리스마스,"[387859, 419281, 47797, 393595, 529003, 407505...",5,2014-11-19 15:53:35.000,"[GN2100, GN0500, GN0600, GN1800, GN2200, GN0100]"

In [ ]:
def f(x):
  d = {}
  d['tags'] = list(set(sum(x.tags, [])))
  d['id'] = x['id'].max()
  d['plylst_title'] = x['plylst_title'].max()
  d['songs'] = list(set(sum(x.songs, [])))
  d['like_cnt'] = x['like_cnt'].sum()
  d['updt_date'] = x['updt_date'].max()
  return pd.Series(d, index=['tags', 'id', 'plylst_title', 'songs', 'like_cnt', 'updt_date'])
unique_train = train.groupby(by='plylst_title').apply(f)
unique_train[unique_train['plylst_title'] == '부활']

,tags,id,plylst_title,songs,like_cnt,updt_date
plylst_title,,,,,,
부활,[락],135125,부활,"[371463, 82568, 529, 579858, 281364, 626581, 4...",16,2011-09-19 11:00:17.000

In [ ]:
unique_train[unique_train['plylst_title'] == '미리 메리 크리스마스']

,tags,id,plylst_title,songs,like_cnt,updt_date
plylst_title,,,,,,
미리 메리 크리스마스,"[팝, 캐럴, 겨울_공통, 연말, 크리스마스, 따듯한, 로멘틱, 캐롤, 클래식, 겨울]",134554,미리 메리 크리스마스,"[210432, 624648, 243721, 468494, 399888, 41422...",142,2020-04-20 03:00:40.000

In [ ]:
# 플레이리스트 수록곡 한개 이하인 플레이리스트 drop
unique_train.drop(unique_train[unique_train['songs'].apply(len) <= 1].index, inplace=True)

In [ ]:
train_2 = pd.read_csv('/content/drive/MyDrive/data/카카오아레나_멜론/train_2.csv')

In [ ]:
train_2['songs'] = train_2['songs'].apply(lambda x : list(map(int,x[1:-1].replace(' ','').split(','))))

In [ ]:
song_meta.head()

,song_gn_dtl_gnr_basket,issue_date,album_name,album_id,artist_id_basket,song_name,song_gn_gnr_basket,artist_name_basket,id
0,[GN0901],20140512,불후의 명곡 - 7080 추억의 얄개시대 팝송베스트,2255639,[2727],Feelings,[GN0900],[Various Artists],0
1,"[GN1601, GN1606]",20080421,"Bach : Partitas Nos. 2, 3 & 4",376431,[29966],"Bach : Partita No. 4 In D Major, BWV 828 - II....",[GN1600],[Murray Perahia],1
2,[GN0901],20180518,Hit,4698747,[3361],Solsbury Hill (Remastered 2002),[GN0900],[Peter Gabriel],2
3,"[GN1102, GN1101]",20151016,Feeling Right (Everything Is Nice) (Feat. Popc...,2644882,[838543],Feeling Right (Everything Is Nice) (Feat. Popc...,[GN1100],[Matoma],3
4,"[GN1802, GN1801]",20110824,그남자 그여자,2008470,[560160],그남자 그여자,[GN1800],[Jude Law],4

In [ ]:
#song_meta 데이터에서 장르 데이터 가져와 train 데이터에 추가.
train_2['genre'] = train_2.songs.apply(lambda x : list(set(sum(song_meta.song_gn_gnr_basket.loc[x],[]))))

In [ ]:
train_2['genre_detail'] = train_2.songs.apply(lambda x : list(set(sum(song_meta.song_gn_dtl_gnr_basket.loc[x],[]))))

In [ ]:
train_2.head()

,plylst_title,tags,id,plylst_title.1,songs,like_cnt,updt_date,genre,genre_detail
0,[헤어진 날] 꺼내 듣는 노래모음,"['연인', '감성', '이별', '위로', '슬픔', '가창력', '헤어짐', '...",112336,[헤어진 날] 꺼내 듣는 노래모음,"[413314, 404995, 38662, 492678, 109574, 698250...",12,2017-11-19 13:49:13.000,"[GN0400, GN1500, GN2500, GN0300, GN0100]","[GN0301, GN1504, GN0104, GN2501, GN0401, GN250..."
1,○ 여행&드라이브 차안에서 함께들의면 기분좋아지는 리스트 ○,"['여행', '드라이브', '여름', '기분좋은음악']",61393,○ 여행&드라이브 차안에서 함께들의면 기분좋아지는 리스트 ○,"[426753, 173185, 133128, 155532, 111246, 37479...",487,2016-08-08 12:32:34.000,"[GN0400, GN1500, GN0500, GN0200, GN2500, GN010...","[GN0606, GN0105, GN0303, GN2505, GN1504, GN040..."
2,"# 추억의 댄스 가요(운동, 드라이브)","['운동', '댄스', '추억', '드라이브', '신나는', '명곡']",101019,"# 추억의 댄스 가요(운동, 드라이브)","[11777, 61954, 617473, 543751, 274958, 365072,...",621,2018-07-26 00:00:17.000,"[GN0200, GN2500, GN0300, GN0600, GN0100, GN0700]","[GN0702, GN0301, GN0604, GN2503, GN0103, GN250..."
3,#Sleep,['sleep'],77021,#Sleep,"[626179, 652820, 375317, 164887, 84512, 140833...",13,2020-02-15 13:19:05.000,"[GN0800, GN0400, GN1500, GN0500, GN0200, GN190...","[GN0606, GN0905, GN1302, GN0105, GN0901, GN180..."
4,#가을 #비 #밤 #새벽,"['비', '가을', '밤', '새벽']",53094,#가을 #비 #밤 #새벽,"[169984, 118788, 608260, 610311, 536584, 11625...",10,2017-10-30 12:51:02.000,"[GN0800, GN0400, GN1500, GN0500, GN0200, GN100...","[GN0606, GN1302, GN0105, GN0901, GN1301, GN030..."

In [ ]:
#장르번호를 index로
genre_gn_all.index = genre_gn_all.gnr_code

In [ ]:
genre_gn_all.head(30)

         gnr_code   gnr_name
gnr_code
GN0100     GN0100        발라드
GN0101     GN0101
GN0102     GN0102        '80
GN0103     GN0103        '90
GN0104     GN0104        '00
GN0105     GN0105       '10-
GN0200     GN0200         댄스
GN0201     GN0201
GN0202     GN0202        '80
GN0203     GN0203        '90
GN0204     GN0204        '00
GN0205     GN0205       '10-
GN0300     GN0300       랩/힙합
GN0301     GN0301
GN0302     GN0302      랩 스타일
GN0303     GN0303     보컬 스타일
GN0304     GN0304  언더그라운드 힙합
GN0305     GN0305        시대별
GN0400     GN0400   R&B/Soul
GN0401     GN0401
GN0402     GN0402         어반
GN0403     GN0403        R&B
GN0500     GN0500       인디음악
GN0501     GN0501
GN0502     GN0502         포크
GN0503     GN0503          록
GN0504     GN0504         일렉
GN0505     GN0505         힙합
GN0506     GN0506        발라드
GN0507     GN0507        '90

In [ ]:
#장르 번호 GN9000 추가
genre_gn_all.loc['GN9000']=['','']

In [ ]:
genre_gn_all[genre_gn_all['gnr_name'] == '세부장르전체']['gnr_name'] = ''

In [ ]:
# 세부 장르 전체 삭제
genre_gn_all = genre_gn_all.apply(lambda x : [x.gnr_code,''] if x.gnr_name == '세부장르전체' else x , axis = 1)

In [ ]:
train_2['genre_name'] = train_2.genre.apply(lambda x : genre_gn_all.gnr_name.loc[x].values)

In [ ]:
import numpy as np
train_2['genre_detail_name'] = train_2.genre_detail.apply(lambda x : np.setdiff1d(genre_gn_all.gnr_name.loc[x].values,''))

In [ ]:
train_2['tags'] = train_2['tags'].apply(lambda x : x[1:-1].replace("'",'').replace(' ','').split(','))

In [ ]:
train_2.apply(lambda x : x.tags.extend(x.genre_name),axis=1)

0         None
1         None
2         None
3         None
4         None
          ...
110497    None
110498    None
110499    None
110500    None
110501    None
Length: 110502, dtype: object

In [ ]:
train_2.apply(lambda x : x.tags.extend(x.genre_detail_name),axis=1)

0         None
1         None
2         None
3         None
4         None
          ...
110497    None
110498    None
110499    None
110500    None
110501    None
Length: 110502, dtype: object

In [ ]:
train_2.to_csv('/content/drive/MyDrive/data/카카오아레나_멜론/train_3.csv')

In [ ]:
# song_meta[song_meta['artist_id_basket'].apply(len) == 0] 
# album_id, artiest_id_basket, song_name, artist_name_basket은 이상 없음

In [ ]:
# train 데이터에서 플레이리스트에 곡이 1곡 이하인 플레이리스트 개수 : 31개
# len(train[train['songs'].apply(len) <= 1])

In [ ]:
# 플레이리스트의 제목이 겹치는 플레이리스트 개수 : 2317
# len(set(train[train['plylst_title'].duplicated()]['plylst_title']))

In [ ]:
# genre_gn_all = genre_gn_all.set_index('gnr_code')

In [ ]:
# song_meta['gen'].apply(lambda x : list(genre_gn_all.loc[x]['gnr_name']))

In [ ]:
# song_meta[['song_gn_dtl_gnr_basket','song_gn_gnr_basket']]#.apply(lambda x : list(genre_gn_all.loc[x]['gnr_name']))

In [ ]:
# song_meta['song_gn_dtl_gnr_basket'] = song_meta['song_gn_dtl_gnr_basket'].apply(lambda x : list(genre_gn_all.loc[x]['gnr_name']))

In [ ]:
# song_meta['song_gn_gnr_basket'] = song_meta['song_gn_gnr_basket'].apply(lambda x : list(genre_gn_all.loc[x]['gnr_name']))

In [ ]:
# for i in genre_gn_all.index:
#     print(i[2:])

In [ ]:
# set(sum(song_meta['song_gn_gnr_basket'],[]))

In [ ]:
# song_meta['song_gn_gnr_basket'].sort_values()

In [ ]:
# song_meta.iloc[479947]

In [ ]:
# sum(song_meta['song_gn_gnr_basket'].apply(pd.Series).eq('GN9000').any(1))

In [ ]:
# what = song_meta[song_meta['song_gn_gnr_basket'].apply(pd.Series).eq('GN9000').any(1)]
# what

In [ ]:
# null = song_meta[song_meta['song_gn_gnr_basket'].apply(len) == 0]

In [ ]:
# null

In [ ]:
# what.to_csv('../data/GN9000s.csv',encoding='cp949')

In [ ]:
# null.to_csv('../data/gnr_null.csv',encoding='cp949')